.holdingCard-container {
    display: flex;
    margin-bottom: 15px;
}

.holdingCard-img {
    align-self: center;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.holdingCard-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: flex-start;
    color: white;
}

.holdingCard-text {
    justify-self: flex-start;
    font-weight: 800;
    font-size: 20px;
}

.holdingCard-percent {
    justify-self: flex-end;
    font-size: 15px;
    font-weight: 500;
}


.walletCard-container {
    display: flex;
    background-color: var(--primary);
    border-radius: 9.1px;
    height: 125px;
    box-shadow: 5px 5px 5px var(--shadow);
    width: 1000px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.walletCard-img {
    height: 90px;
    width: 90px;
    display: block;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.walletCard-info {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: var(--white);
    width: 225px;
}

.walletCard-type {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}

.walletCard-totalVal {
    font-size: 25px;
    padding: 0px;
    margin-top: -10px;
}

.walletCard-totalPercent {
    font-size: 15px;
}

.walletCard-holdingsContainer {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 30px;
}

.walletCard-holdingsTitle {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.walletCard-holdingsFeed {
    overflow-y: scroll;
    overflow-x: hidden;
}

.walletCard-holdingsFeed::-webkit-scrollbar {
    width: 8px;
}

.walletCard-holdingsFeed::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}

.walletCard-transactionsContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.walletCard-transactionsTitle {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.walletCard-transactionsFeed {
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    padding-bottom: 5px;
}

.walletCard-transactionsFeed::-webkit-scrollbar {
    width: 8px;
}

.walletCard-transactionsFeed::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}

.walletCard-button {
    color: var(--white);
    margin-left: auto;
    align-self: flex-end;
    justify-self: flex-end;
}

.hide {
    display: none;
}