.walletCard-container {
    display: flex;
    background-color: var(--primary);
    border-radius: 9.1px;
    height: 150px;
    box-shadow: 5px 5px 5px var(--shadow);
    width: auto;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.walletType {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-items: flex-start;
    color: var(--white);
}

.totalValue {
    justify-self: flex-start;
    font-size: 20px;
}

.totalPerc {
    justify-self: flex-end;
    font-size: 20px;
}
.walletCard-type {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    justify-self: flex-start;
    margin-right: 75px;
}

.walletCard-holdings {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    flex: 1;
    overflow: scroll;
}

.walletCard-transactions {
    justify-self: flex-end;
    color: var(--white);
    font-family: Poppins;
    flex: 1;
    font-style: normal;
    overflow: scroll;
    padding-left: 50px;
}

button {
    color: var(--white);
}

.wallet-img {
    height: 115px;
    width: 115px;
    display: block;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
}

.holdingCard {
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 15px;
}

.coinHolding-img {
    align-self: center;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.holdingText {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: flex-start;
}

.holdingAmount {
    justify-self: flex-start;
    font-weight: 800;
    font-size: 20px;
}

.holdingPerc {
    justify-self: flex-end;
    font-size: 15px;
}

.hide {
    display: none;
}

.expand {
    margin-left: auto;
    align-self: flex-end;
    justify-self: flex-end;
}