.walletCard-container {
    display: grid;
    grid-template-areas:
    "title tokens transactions";
    /*grid-template-columns: 383.33px 383.33px 383.33px;*/
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    grid-column-gap: 0px;
    background-color: var(--primary);
    border-radius: 9.1px;
    height: 150px;
    box-shadow: 5px 5px 5px grey;
    width: 1150px;
}

.walletCard-type {
    grid-area: title;
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 75px;
    padding-left: 15px;
    margin-top: 0px;
}

.walletCard-holdings {
    grid-area: holdings;
    grid-column: 2;
    grid-row: 1;
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-top: 5px;
}

.walletCard-transactions {
    grid-area: transactions;
    grid-column: 3;
    grid-row: 1;
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-top: 5px;
    overflow: scroll;
}