.walletfeed-topContainer {
    grid-area: searchBar;
    padding-left: 2px;
    grid-column: 1;
    grid-row: 1 ;
    display: inline-flex;
    justify-content: left;
    height: 25px;
    width: 400px;
    border-radius: 5px;
}

.walletfeed-search {
    height: 25px;
    width: 325px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: var(--primary);
    box-shadow: 5px 5px 5px grey;
    margin-right: 5px;
}

.walletfeed-input {
    font-size: 13px;
    color: white;
    font-weight: 500;
    font-family: Poppins;
    width: 90%;
    border: 0px;
    background-color: var(--primary);
    outline: none;
}

.walletfeed-input::placeholder {
    color: white;
}

.walletfeed-container{
    grid-area: walletFeed;
    grid-column: 1;
    grid-row: 2;
    height: 700px;
    overflow-y: scroll;
}

.walletfeed-container::-webkit-scrollbar {
    width: 8px;
}

.walletfeed-container::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}