/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

:root {
  --primary: #312F62;
  --primary--dim: #6987db;
  --purple: #B306F1;
  --pink: #EB15CB;
  --black: #000000;
  --white: white;
  --shadow: grey;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  font-weight: 300;
  margin: 0;
}

.wrapper{
  display: grid;
  grid-template-areas:
    "sidedBar topBar"
    "sideBar mainPage";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 175px 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.SideBar-name {
  margin-left: var(--xs);
  background-image: url("../dist/sb-name.svg");
  position: fixed;
  bottom: 0px;
  height: 20px;
  width: 100px;
  background-repeat: no-repeat;
}

.content{
  margin-top: 100px;
  margin-right: 100px;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
