.forum-container {
    display: grid;
    grid-template-areas:
    "searchBar"
    "forumFeed";
    grid-template-rows: 25px 1fr;
    grid-row-gap: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 1170px;
    padding-top: 2px;
}