.home-container {
    display: grid;
    grid-template-areas:
    "summary coins";
    grid-template-columns: 700px 450px;
    grid-column-gap: 15px;
    margin-top: 20px;
    margin-left: 25px;
    height: 800px;
    justify-items: center;
}

.coinFeed-container {
    display: grid;
    grid-template-areas:
    "searchBar"
    "coins";
    grid-template-rows: 25px 1fr;
    padding-top: 2px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 0px;
    height: 675px;
    width: 410px;
    justify-content: left;
    
}
