.home-container {
    display: grid;
    grid-template-areas:
    "summary coins"
    "visuals coins";
    grid-template-rows: 500px 1fr;
    grid-template-columns: 60% 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 50px 15px 0 50px;
    height: 800px;
    justify-items: center;
}

.coinFeed-container {
    display: grid;
    grid-template-areas:
    "searchBar"
    "coins";
    grid-template-rows: 25px 1fr;
    padding-top: 2px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 0px;
    height: 100vh;
    width: 400px;
    justify-content: left;
}
