.Home-greeting {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #312F62; 
    /* margin-bottom: 0px; */
}

.Home-leftContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;
    top: 100px;
}


.feed-container {
}

.overall-container {
}