.Home-greeting {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #312F62; 
    /* margin-bottom: 0px; */
}

/* .Home-leftContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;
    top: 100px;
}
 */
.Home-leftContainer {
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* flex-direction: column; 
    left: 200px; */
}

.feed-container {
}

.overall-container {
}