.wallets-container{
    display: grid;
    grid-template-areas:
    "searchBar"
    "walletFeed";
    grid-template-rows: 25px 1fr;
    grid-row-gap: 15px;
    margin-top: 20px;
    margin-left: 25px;
    height: 800px;
    width: 1150px;
    padding-top: 2px;
}