.searchfield-container {
    outline: 2px solid var(--primary);
    height: 25px;
    width: 320px;
    border-radius: 5px;
    display: inline-flex;
}

.searchfield-input {
    font-size: 13px;
    padding-left: 5px;
    color: var(--primary);
    font-weight: 500;
    font-family: Poppins;
    width: 100%;
    border: 0px;
}

.searchfield-input::placeholder {
    color: var(--primary);
    opacity: 0.5;
}

.searchfield-button {
    text-align: center;
    background: white;
    color: white;
    font-size: 13px;
    color: var(--primary);
    float: top;
    width: 10%;
    padding: 0px 0px 0px 0px;
}