/*.flex-container {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    height: 100%;*/
/*    width: 150px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #312F62FF;*/
/*}*/

.sideBar-graphic {
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-areas:
    "color waves";
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0px;
    height: 100vh;
    background-image: url("../../../dist/Frame.svg");
    background-size: 175px;
}

.sideBar-container{
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.SideBar-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.SideBar-link {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 16px;
    align-self: flex-start;
    transition: all 1s;
}

.SideBar-link:hover {
    transform: translateX(8px) scale(1.1);
    transition: all 1s;
}

.SideBar-logo {
    background-image: url("../../../dist/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.SideBar-name {
    margin-top: auto;
    bottom: 0px;
    align-self: center;
    background-image: url("../../../dist/sb-name.svg");
    height: 20px;
    width: 100px;
    background-repeat: no-repeat;
}