/*.flex-container {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    height: 100%;*/
/*    width: 150px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #312F62FF;*/
/*}*/

/*@keyframes test{*/
/*    0% {background-position-y: 0px}*/
/*    100% {background-position-y: 100px}*/
/*}*/
@keyframes moveBack {
    from{
        background-position: 0% 600.5px;
    }
}

.sideBar-backdrop {
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0px;
    background: url("../../../dist/bgBack.svg") 0% 0%;
    background-size: 175px;
    animation: moveBack 30s infinite linear;
}

@keyframes moveFront {
    to{
        background-position: 0% 638px;
    }
}

.sideBar-graphic {
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-gap: 0px;
    background: url("../../../dist/bgFront.svg") 0% 0%;
    background-size: 175px;
    animation: moveFront 90s infinite linear;
}

.sideBar-container{
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.SideBar-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.SideBar-link {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 16px;
    align-self: flex-start;
    transition: all 1s;
}

.SideBar-link:hover {
    transform: translateX(8px) scale(1.1);
    transition: all 1s;
}

.SideBar-logo {
    background-image: url("../../../dist/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;
}

.SideBar-name {
    margin-top: auto;
    align-self: center;
    background-image: url("../../../dist/sb-name.svg");
    height: 20px;
    width: 100px;
    background-repeat: no-repeat;
}