/*.flex-container {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    height: 100%;*/
/*    width: 150px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #312F62FF;*/
/*}*/

.sideBar-container{
    grid-area: sideBar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #312F62FF;
    height: 100vh;
}

.SideBar-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SideBar-link {
    color: white;
    padding: 8px;
    font-size: 16px;
}

.SideBar-logo {
    background-image: url("../../../dist/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    align-self: center;
}

.SideBar-name {
    margin-top: auto;
    font-size: 25px;
    color: white;
    bottom: 0px;
    align-self: center;
}