/*.TT-flex-container {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    height: 50px;*/
/*    width: 90px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background-color: #312F62;*/
/*    border-radius: 0px 0px 0px 9.10004px;*/
/*}*/

.topTab-container{
    grid-area: topBar;
    justify-content: end;
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: var(--white);
}

.TT-text {
    align-self: center;
    color: white;
    padding: 8px;
    font-size: 16px;
}

.Home-greeting {
    position: absolute;
    width: 600px;
    height: 48px;
    left: 201px;
    top: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: var(--primary);
}

.login {
    position: absolute;
    right: 15px;
    top: 15px;
}
