@media screen and (max-width: 1688px){
    .coinfeed-total{
        width: 390px;
        margin-right: var(--m);
    }
}

@media screen and (min-width: 1688px) and (max-width: 2080px){
    .coinfeed-total{
        width: 783px;
        margin-right: var(--m);
    }
}
@media screen and (min-width: 2080px){
    .coinfeed-total{
        width: 1173px;
        margin-right: var(--m);
    }
}

.coinfeed-topContainer {
    display: inline-flex;
    justify-content: left;
    height: 25px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.coinfeed-search {
    height: 25px;
    width: 325px;
    border-radius: 20px;
    display: inline-flex;
    margin-right: 5px;
    justify-content: center;
    background-color: var(--primary);
    box-shadow: 5px 5px 5px var(--shadow);
    
}

.coinfeed-input {
    font-size: 13px;
    color: var(--white);
    font-weight: 500;
    font-family: Poppins;
    width: 90%;
    border: 0px;
    background-color: var(--primary);
    outline: none;
}

.coinfeed-input::placeholder {
    color: var(--white);
}

.coinfeed-coins {
    display: grid;
    grid-template-columns: repeat( auto-fill, 375px);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: var(--m);
    grid-column-gap: var(--m);
    border-radius: 9.10004px;
    height: 639px;
    width: 100%;
    padding-bottom: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.coinfeed-coins::-webkit-scrollbar {
    width: 8px;
}

.coinfeed-coins::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}

.notConnected{
    margin-right: var(--m);
}