.coinfeed-topContainer {
    grid-area: searchBar;
    padding-left: 2px;
    grid-column: 1;
    grid-row: 1 ;
    display: inline-flex;
    justify-content: left;
    height: 25px;
    width: 400px;
    border-radius: 5px;
}

.coinfeed-search {
    height: 25px;
    width: 325px;
    border-radius: 20px;
    display: inline-flex;
    margin-right: 5px;
    justify-content: center;
    background-color: var(--primary);
    box-shadow: 5px 5px 5px var(--shadow);
    
}

.coinfeed-input {
    font-size: 13px;
    color: var(--white);
    font-weight: 500;
    font-family: Poppins;
    width: 90%;
    border: 0px;
    background-color: var(--primary);
    outline: none;
}

.coinfeed-input::placeholder {
    color: var(--white);
}

.coinfeed-coins {
    grid-area: coins;
    grid-column: 1;
    grid-row: 2;
    border-radius: 9.10004px;
    height: 639px;
    width: 395px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.coinfeed-coins::-webkit-scrollbar {
    width: 8px;
}

.coinfeed-coins::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}