.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  width: 375px;
  background: var(--primary);
  border-radius: 9.1px;
  box-shadow: 5px 5px 5px var(--shadow);
}

.card-coin {
  display: inline;
  justify-content: center;
}

.card-icon {
  padding-top: 0px;
  width: 110px;
}

.card-img {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-ticker {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: var(--white);
}

.card-balance {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  color: var(--white);
}

.card-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: var(--white);
  padding-left: 15px;
}

.card-changeinval {
  padding-left: 10px;
}

.card-currval{

}