.card-container {
  display: grid;
  grid-template-areas: "coin data";
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px;
  height: 200px;
  width: 375px;
  background: var(--primary);
  border-radius: 9.1px;
  margin-top: 0px; 
  margin-left: 0px; 
  margin-bottom: var(--m);
  margin-right: 0px;
  box-shadow: 5px 5px 5px grey;
}

.card-coin {
  grid-area: coin;
  grid-row: 1;
  grid-column: 1;
  display: inline;
  justify-content: center;
}

.card-icon {
  padding-top: 30px;
}

.card-img {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-ticker {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.card-balance {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  color: white;
  padding-top: 10px;
  margin-bottom: 0px;
}

.card-data {
  grid-area: data;
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  color: white;
  padding-left: 15px;
}

.card-changeinval {
  padding-left: 10px;
}