.coinfeed-topContainer {
    grid-area: searchBar;
    padding-left: 2px;
    grid-column: 1;
    grid-row: 1 ;
    display: inline-flex;
    justify-content: left;
    height: 25px;
    width: 400px;
    border-radius: 5px;
}

.coinfeed-search {
    outline: 2px solid var(--primary);
    height: 25px;
    width: 320px;
    border-radius: 5px;
    display: inline-flex;
}

.coinfeed-input {
    font-size: 13px;
    padding-left: 5px;
    color: var(--primary);
    font-weight: 500;
    font-family: Poppins;
    width: 100%;
    border: 0px;
}

.coinfeed-input::placeholder {
    color: var(--primary);
    opacity: 0.5;
}

.coinfeed-coins {
    grid-area: coins;
    grid-column: 1;
    grid-row: 2;
    border-radius: 9.10004px;
    height: 630px;
    width: 395px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.coinfeed-coins::-webkit-scrollbar {
    width: 8px;
}

.coinfeed-coins::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}