.Card-container {
  height: 200px;
  width: 375px;
  background: var(--primary);
  border-radius: 9.1px;
  margin-top: 0px; 
  margin-left: 0px; 
  margin-bottom: var(--m);
  margin-right: 0px;
  box-shadow: 5px 5px 5px grey;
}

.coin-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: var(--l);
  padding-top: var(--l);
}

.coin-change {
  color: red;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
}

.coin-holding {
  color: var(--white);
  font-weight: 500;
  font-size: 60px;
  line-height: 75px;
  padding: 0px 0px 0px var(--l);
}
.coin-info {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: var(--l);
  top: 285px;
}



