.Feed-container {
    grid-area: coins;
    grid-column: 1;
    grid-row: 2;
    border-radius: 9.10004px;
    height: 630px;
    width: 395px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Feed-container::-webkit-scrollbar {
    width: 8px;
}

.Feed-container::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 9.10004px;
    opacity: 1;
}
