.searchbar-container {
    grid-area: searchBar;
    grid-column: 1;
    grid-row: 1 ;
    display: inline-flex;
    justify-content: left;
    height: 25px;
    width: auto;
    border-radius: 5px;
}

.addWallet-container {
    outline: 2px dashed var(--primary);
    /*height: 25px;*/
    width: auto;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.modal {
    background: #fff;
    outline: 0;
    min-width: 250px;
    max-width: 500px;
    border-radius: 4px;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 0.5em 1.5em;
}

.modal-header {
    border-bottom: 1px solid #eee;
}

.modal-title {
    margin: 0;
}

.modal-footer {
    border-top: 1px solid #eee;
    text-align: right;
}

/*.modal--animated {*/
/*    opacity: 0.3;*/
/*    transform: scale(1.1) translateY(-10px);*/
/*    -webkit-transform: scale(1.1) translateY(-10px);*/
/*    transition: all 0.3s linear;*/
/*    -webkit-transition: all 0.3s linear;*/
/*}*/

/*.modal--animated.has-entered {*/
/*    opacity: 1;*/
/*    transform: scale(1) translateY(0);*/
/*    -webkit-transform: scale(1) translateY(0);*/
/*}*/

/*.underlay {*/
/*    background-color: rgba(0, 0, 0, 0);*/
/*    transition: all 0.3s linear;*/
/*    -webkit-transition: all 0.3s linear;*/
/*}*/

/*.underlay.has-entered {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*input:focus,*/
/*a:focus,*/
/*button:focus {*/
/*    box-shadow: 0 0 5px 5px #285DAB;*/
/*}*/

button {
    background: transparent;
    border: 0;
    border-radius: 3px;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background: #278829;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
}