.Summary-container {
    background-color: var(--primary);
    border-radius: 9.10004px;
    height: 664px;
    margin-bottom: var(--l);
    width: 60%;
    min-width: 400px;
    max-width: 700px;
    box-shadow: 5px 5px 5px grey;
    margin-right: var(--m);
    padding-top: 10px;
}

.Summary-PV {
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 75px;
    padding: 0px 15px 0px var(--l);
}

.Summary-percentage {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
}

.Summary-principal {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: var(--l);
    top: 285px;

}

.Summary-change {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: var(--l);
    top: 310px;
}