.Summary-container {
    grid-area: summary;
    grid-column: 1;
    grid-row: 1 / 2;
    background-color: var(--primary);
    border-radius: 9.10004px;
    height: 665px;
    width: 700px;
    box-shadow: 5px 5px 5px var(--shadow);
    padding-top: 10px;
}

.Summary-PV {
    color: var(--white);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 75px;
    padding: 0px 15px 0px var(--l);
}

.Summary-percentage {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
}

.Summary-principal {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    padding-left: var(--l);
    top: 285px;

}

.Summary-change {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    padding-left: var(--l);
    top: 310px;
}