.Visuals-container {
    position: absolute;
    width: 450px;
    height: 250px;
    left: 200px;
    top: 500px;

    background: linear-gradient(0deg, #312F62, #312F62);
    mix-blend-mode: normal;
    border-radius: 9.10004px;
}