.forumcard-container {
    background-color: var(--primary);
    border-radius: 9.1px;
    height: 150px;
    width: 1150px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: var(--m);
}

.forumcard-subject {
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;

}

.forumcard-content {
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-left: 15px;
    padding-top: 10px;
}

.forumcard-author {
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-left: 15px;
    padding-top: 10px;
}