.forumcard-container {
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 9.1px;
    width: 1150px;
    margin-bottom: var(--m);
}

.commentsblock {
    background-color: rgba(49, 47, 98, 0.1); /* rgba value of var(--primary) w/ opacity 0.1 */
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}